@model ShootServ.Models.Registration.RegistrationPageModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.IsEditMode)
{
    <h3>Регистрация</h3>
}
else
{
    <h3>Пользовательские данные</h3>
}

<script src="~/Scripts/ShootServ/registration.js"></script>

@using (Html.BeginForm("AddUser", "Registration", FormMethod.Post, new { id = "addform", @style = "width:100%; padding:0;" }))
{<div style="width:1200px;margin:auto;">
        <div id="content" class="instr" style="margin-bottom:40px; padding:0; margin:auto;height:380px;padding:10px;">
            <div id="divUser" style="float: left; position:relative;">
                <table id="userTable">
                    <tr>
                        <td>@Html.LabelFor(x => x.PostModel.IdRole, new { @readonly = Model.IsEditMode ? "readonly" : "" })</td>
                        <td>@Html.DropDownListFor(x => x.PostModel.IdRole, Model.RolesList, new { id="idRole", @Name="idRole" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.PostModel.Name)</td>
                        <td>@Html.TextBoxFor(x => x.PostModel.Name, new { id="name", @Name="name" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.PostModel.FatherName)</td>
                        <td>@Html.TextBoxFor(x => x.PostModel.FatherName, new { id="fatherName", @Name="fatherName" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.PostModel.Family)</td>
                        <td>@Html.TextBoxFor(x => x.PostModel.Family, new { id="family", @Name="family" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.PostModel.Sex, new { @readonly = Model.IsEditMode ? "readonly" : "" })</td>
                        <td>@Html.DropDownListFor(x => x.PostModel.Sex, Model.SexList, new { id="sex", @Name="sex" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.PostModel.Login)</td>
                        <td>@Html.TextBoxFor(x => x.PostModel.Login, new { id="login", @Name="login" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.PostModel.Password)</td>
                        <td>@Html.PasswordFor(x => x.PostModel.Password, new { id="password", @Name="password" })</td>
                    </tr>
                    <tr>
                        <td>@Html.Label("Повторите пароль")</td>
                        <td>@Html.Password("password2", "")</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.PostModel.Email)</td>
                        <td>@Html.TextBoxFor(x => x.PostModel.Email, new { id="email", @Name="email" })</td>
                    </tr>
                </table>

                @if (!Model.IsEditMode)
                {
                    <input type="button" id="addBt" value="Зарегистрировать" style="width:200px" />
                }
                else
                {
                    <input type="button" id="editBt" value="Сохранить" style="width:200px" />
                }
            </div>
            <div id="divShooterInput" style="float:right;">
                <table id="shooterTable">
                    <tr>
                        <td>@Html.Label("Страна")</td>
                        <td>@Html.DropDownList("idCountry", Model.CountriesList)</td>
                    </tr>
                    <tr>
                        <td>@Html.Label("Регион")</td>
                        <td id="tdRegionsList">@Html.DropDownList("idRegion", Model.RegionsList)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.PostModel.DateBirthday)</td>
                        <td>@Html.TextBoxFor(x => x.PostModel.DateBirthday, "{0:dd.MM.yyyy}", new { @class = "datepicker", id="dateBirthday", @Name="dateBirthday" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.PostModel.IdClub, new { style = "display:inline" }) *</td>
                        <td id="tdClubsList">@Html.DropDownListFor(x => x.PostModel.IdClub, Model.ShooterClubs, new { id="idClub", @Name="idClub" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.PostModel.IdWeaponType)</td>
                        <td>@Html.DropDownListFor(x => x.PostModel.IdWeaponType, Model.WeaponTypes, new { id="idWeaponType", @Name="idWeaponType" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.PostModel.IdShooterCategory)</td>
                        <td>@Html.DropDownListFor(x => x.PostModel.IdShooterCategory, Model.Categories, new { id="idShooterCategory", @Name="idShooterCategory" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.PostModel.Address)</td>
                        <td>@Html.TextAreaFor(x => x.PostModel.Address, new { id="address", @Name="address" })</td>
                    </tr>
                    <tr>
                        <td style="width:200px">
                            <p style="font-size:10px">
                                * - Если вашего стрелкового клуба нет в списке, создайте тир, зарегистрировавшись под ролью организатора, затем создайте стрелковый клуб.
                                Далее стрелки смогут при регистрации выбрать появившийся стрелковый клуб.
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}
