 @{
    ViewBag.Title = "Добавление тира";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ShootingCompetitionsRequests.Areas.ShootingRange.Models.ShootingRangeModelParams

@*@Html.ActionLink("На главную", "Index", "Home", new { Area = ""}, null)*@
<h3>Создание и просмотр тиров</h3>

<script type="text/javascript">

    $(document).ready(function ()
    {
        ChangeRegion();

        $(document).on("change", "#RegionId", function ()
        {
            ChangeRegion();
        });

        $(document).on("change", "#CountryId", function () {
            ChangeCountry();
        });

        // Клик на ссылке удалить тир
        $(document).on("click", ".delRange", function () {

            var a = $(this);
            var tr = a.closest("tr");
            var id = $(this).attr("idShootRange");

            if (CheckLogin()) {

                $.ajax({
                    url: "@Url.Action("Delete", "AddShootingRange")",
                    dataType: "json",
                    data: { idShootingRange: id },
                    async: false,
                    success: function (data) {
                        if (data.IsOk == true) {
                            ShowInfo("Тир удален");
                            tr.remove();
                        } else ShowError(data.Message); 
                    },
                    error: function (data) {
                        ShowError("Ошибка ajax");
                    }
                });
            }
            else {
                var redirectUrl = "@Url.Action("Index", "AddShootingRange", new { Area = "ShootingRange"})";
                RedirectLoginPage(redirectUrl);
            }
        });

        $(document).on("click", "#addBt", function ()
        {
            if (CheckLogin()) {

                if (ValidateInput()) {

                    $.ajax({
                        url: "@Url.Action("Add", "AddShootingRange")",
                        dataType: "json",
                        data: $("form").serialize(),
                        async: false,
                        success: function (data) {
                            if (data.IsOk == true) {
                                var idRegion = $("#RegionId").val();
                                GetListByRegion(idRegion);
                            } else ShowError(data.Message); // сообщение об ошибке как -то показать на странице
                        },
                        error: function (data) {
                            ShowError("Ошибка ajax");
                        }
                    });
                }
            }
            else {
                var redirectUrl = "@Url.Action("Index", "AddShootingRange", new { Area = "ShootingRange"})";
                //redirectUrl = redirectUrl.replace(new RegExp("/g",'g'), "%2f");
                RedirectLoginPage(redirectUrl);
            }
        });

        ChangeCountry();

    });
    
    // Проверка залогированности
    function CheckLogin()
    {
        var val = "@Model.IsLogin";
        return val.toLowerCase() === "true";
    }

    // Нужно вызвать эту функцию при изменении региона
    function ChangeRegion()
    {
        var idRegion = $("#RegionId").val();
        GetListByRegion(idRegion);
    }

    // Нужно вызвать эту функцию при изменении региона
    function ChangeCountry() {
        var idCountry = $("#CountryId").val();
        GetRegionsByCountry(idCountry);
    }

    // Проверить ввод
    function ValidateInput()
    {
        if ($("#RegionId").val() <= 0)
        {
            ShowError("Не выбран регион");
            return false;
        }

        if ($("#Name").val() == undefined || $("#Name").val() == "")
        {
            ShowError("Не введено название тира");
            return false;
        }

        if ($("#Address").val() == undefined || $("#Address").val() == "") {
            ShowError("Не введен адрес тира");
            return false;
        }

        return true;
    }

    // Получить список тиров по региону
    function GetListByRegion(idRegion)
    {
        if (idRegion != undefined) {

            $.ajax({
                url: "@Url.Action("GetListByRegion", "AddShootingRange")",
                dataType: "html",
                data: { idRegion: idRegion },
                async: false,
                success: function (data) {
                    $("#listShootingRanges").html("");
                    $("#listShootingRanges").html(data);
                },
                error: function ()
                {
                    ShowError("Ошибка ajax");
                }
            });
        }
    }

    // Получить список тиров по региону
    function GetRegionsByCountry (idCountry) {
        if (idCountry != undefined) {

            var tagName = "RegionId";

            $.ajax({
                url: "@Url.Action("GetRegionsByCountry", "StandartFilters", new { Area = ""})",
                dataType: "html",
                data: {
                    idCountry: idCountry,
                    tagName: tagName,
                    addAll : true
                },
                async: false,
                success: function (data) {
                    $("#tdRegionId").html("");
                    $("#tdRegionId").html(data);
                },
                error: function () {
                    ShowError("Ошибка ajax");
                }
            });
        }
    }
    //все для выпадающего контента
    $(document).ready(function() {
        togetherContent("#divAddShootingRange", "#divAddShootingR", 'Добавить тир');
        addSumbol($("#divAddShootingRange"), true, 'Добавить тир');
        addSumbol($("#divShowShootingRange"), true, 'Список тиров');
    });
   
</script>



<div id="divShootingRange" style="margin-top: 15px; width: 100%;">
    <div id="divDiv" class="instr" style="width: 1000px; padding: 0;">
        <div id="divAddShootingRange" class="addListStyle" style="width: 100%; padding-bottom: 20px; padding-top: 20px;"></div>
        <div id="divAddShootingR" style="display: none;">
            @Html.Partial("Add", Model)
        </div>
    </div>
</div>


<div id="list" style="margin-top: 15px; width: 100%; height: 80%;">
    <div id="divDiv1" class="instr" style="width: 1000px; padding: 0;">
        <div id="divShowShootingRange" class="addListStyle" style="width: 100%; padding-bottom: 20px; padding-top: 20px;"></div>
        <div id="divShowShootingR" style="display: none;">
            <div id="listShootingRanges">
            </div>
        </div>
    </div>
</div>


