@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Восстановление пароля</h3>

<script type="text/javascript">

    $(document).on("click", "#bt1", function() {

        var login = $("#loginRec").val();
        var mail = $("#mail").val();

        if (login != undefined && login != "" && mail != undefined && mail != "") {

            $.ajax({
                url: "@Url.Action("QueryRecoveryPassword", "Account")",
                dataType: "JSON",
                data: { login : login, email : mail },
                async: false,
                success: function(data) {
                    if (data.IsOk == true) {
                        ShowInfo("Письмо с новым паролем отправлено. Для его активации перейдите по ссылке в письме");
                    } else ShowError(data.Message); 
                },
                error: function(data) {
                    ShowError("Ошибка ajax");
                }
            });
        } else {
            ShowError("Данные введены некорректно");
        }
    });

</script>

<div id="recoverFormDiv">

        <div class="instr">
            <h3>Данные для отправки пароля на почту</h3>
            <ol style="list-style:none;">
                <li>
                    @Html.Label("Логин")
                    @Html.TextBox("loginRec", "", new {})
                </li>
                <li>
                    @Html.Label("E-mail")
                    @Html.TextBox("mail", "", new {})
                </li>
            </ol>
            <input id="bt1" type="button" value="Отослать пароль на e-mail" />
        </div>

</div>