@model ShootingCompetitionsRequests.Models.LoginModel

@{
    ViewBag.Title = "Выполнить вход";
}


<div class="instr">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        <div class="row mt-4">
            <div class="col-lg-6 col-xs-12">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @Class = "form-control", @Placeholder="Введите, пожалуйста, Ваше имя или E-mail " })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="col-lg-6 col-xs-12">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @Class = "form-control", @Placeholder = "Введите, пожалуйста, Ваш пароль"})
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>

        <p class="mt-4">
            @Html.ActionLink("Регистрация", "Index", "Registration"), если у вас нет учетной записи.
        </p>
        <p>
            @Html.ActionLink("Восстановление пароля", "RecoveryPasswordForm", "Account", new { Area = "" }, null), если вы забыли свой пароль.
        </p>
        <input class="buttonEnter btn btn-primary mx-auto mt-4" type="submit" value="Выполнить вход" />

    </div>

        }
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
