@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Восстановление пароля</h3>

<script type="text/javascript">

    $(document).on("click", "#bt1", function() {

        var login = $("#loginRec").val();
        var mail = $("#mail").val();

        if (login) {
            $.ajax({
                url: "@Url.Action("QueryRecoveryPassword", "Account")",
                dataType: "JSON",
                data: { login : login, email : mail },
                async: false,
                success: function(data) {
                    if (data.IsOk) {
                        showInfo("Письмо с новым паролем отправлено. Для его активации перейдите по ссылке в письме");
                    } else showError(data.Message);
                },
                error: function(data) {
                    showError("Ошибка ajax");
                }
            });
        } else {
            showError("Данные введены некорректно");
        }
    });

</script>

<div id="recoverFormDiv">
    <div class="instr">
        <div class="row mt-4 justify-content-center">
            <div class="col-lg-5 col-xs-12">
                @Html.Label("Логин", new { @class = "mt-4" })
                @Html.TextBox("loginRec", "", new { @class = "form-control" })
                @Html.Label("E-mail", new { @class = "mt-4" })
                @Html.TextBox("mail", "", new { @class = "form-control" })
                <input id="bt1" class="btn btn-primary mt-4" type="button" value="Отослать пароль на e-mail" />
            </div>
            </div>

    </div>
</div>
