@{
    ViewBag.Title = "Стрелковые клубы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ShootServ.Areas.ShootingClub.Models.ShooterClubModelParams

<script type="text/javascript">

    $(document).ready(function () {

        //ChangeRegion();

        $(document).on("change", "#idCountry", function () {
            ChangeCountry();
        });

        $(document).on("change", "#idRegion", function () {
            ChangeRegion();
        });

        // Клик на "Удалить"
        $(document).on("click", ".delClub", function () {

            if (isAuthorize) {

                var a = $(this);
                var idClub = a.attr("idClub");

                $.ajax({
                    url: "@Url.Action("Delete")",
                    dataType: "json",
                    data: { idClub: idClub },
                    async: false,
                    success: function (data) {
                        if (data.IsOk == true) {
                            showInfo("Стрелковый клуб удален"); // showInfo
                            a.closest("tr").remove();
                        } else showError(data.Message); // сообщение об ошибке как -то показать на странице
                    },
                    error: function (data) {
                        showError("Ошибка ajax");
                    }
                });
            }
            else
            {
                var redirectUrl = "@Url.Action("Index", "AddShootingClub", new { Area = "ShootingClub"})";
                redirectToLoginPage(redirectUrl);
            }

        });

        $(document).on("click", "#addBt", function () {
            if (isAuthorize) {

                if (ValidateInput()) {

                    $.ajax({
                        url: "@Url.Action("Add")",
                        dataType: "json",
                        data: $("form").serialize(),
                        async: false,
                        success: function (data) {
                            if (data.IsOk == true) {
                                showInfo("Стрелковый клуб добавлен"); // showInfo
                                
                                var idRegion = $("#idRegion").val();
                                var idCountry = $("#idCountry").val();

                                GetShootingClubs(idCountry, idRegion);
                                
                            } else showError(data.Message); // сообщение об ошибке как -то показать на странице
                        },
                        error: function (data) {
                            showError("Ошибка ajax");
                        }
                    });
                }
            }
            else {
                var redirectUrl = "@Url.Action("Index", "AddShootingClub", new { Area = "ShootingClub"})";
                redirectToLoginPage(redirectUrl);
            }

        });

        ChangeCountry();

    });

    function ChangeCountry()
    {
        var idCountry = $("#idCountry").val();
        GetRegionsByCountry(idCountry);
    }

    function ChangeRegion()
    {
        var idRegion = $("#idRegion").val();
        var idCountry = $("#idCountry").val();

        GetShootingClubs(idCountry, idRegion);
        GetRangesList(idRegion);
    }



    function ValidateInput() {

        var name = $("#Name").val();
        if (name == undefined || name == "")
        {
            showError("Не введено название тира");
            return false;
        }

        if ($("#IdShootingRange").val() == undefined) {
            showError("Не выбран тир");
            return false;
        }

        //var phone = $("#Phone").val()

        return true;
    }

    // Получить регионы по стране
    function GetRegionsByCountry(idCountry) {
        
        var tagName = "idRegion";

        $.ajax({
            url: "@Url.Action("GetRegionsByCountry", "StandartFilters", new { Area = ""})",
                    dataType: "html",
                    type: "GET",
                    async: false,
                    data: {
                        idCountry: idCountry,
                        tagName: tagName,
                        addAll : true
                    },
                    success: function (data) {
                        $("#tdRegion").html("");
                        $("#tdRegion").html(data);
                    },
                    error: function () {
                        showError("Ошибка ajax");
                    }
                });
    }

    // Получить список стрелковых клубов в регионе
    function GetShootingClubs(idCountry, idRegion) {

        $.ajax({
            url: "@Url.Action("GetShootingClubsByRegion", "AddShootingClub")",
            dataType: "html",
            type : "GET",
                async: false,
                data: {
                    idCountry: idCountry,
                    idRegion: idRegion
                },
                success: function (data) {
                    $("#list").html("");
                    $("#list").html(data);
                },
                error: function () {
                    showError("Ошибка ajax");
                }
        });

    }

    // Получить список тиров
    function GetRangesList(idRegion) {
        $.ajax({
            url: "@Url.Action("GetShootingRangesByRegion", "AddShootingClub")",
            dataType: "html",
            type : "GET",
                data: { idRegion: idRegion },
                async: false,
                success: function (data) {
                    $("#tdShootingRange").html("");
                    $("#tdShootingRange").html(data);
                },
                error: function () {
                    showError("Ошибка ajax");
                }
            });
    }
    //выпадающий контент
    $(document).ready(togetherContent("#divAddClab", "#divAddClabHidden", 'Добавить команду'));
    $(document).ready(togetherContent("#divShowClab", "#divShowClabHidden", 'Список команд'));

    $(document).ready(function () {
        AddSumbol($("#divAddClab"), true, 'Добавить команду');
    });

    $(document).ready(function () {
        AddSumbol($("#divShowClab"), true, 'Список команд');
    });
</script>

<h3>Добавление и просмотр стрелковых клубов</h3>

@Html.Partial("ErrorCustom", Model.Error) 

<div id="addDiv">

   <div id="divAddAdd" class="instr" style="width:1000px;padding:0;">
       
        <div id="divAddClab" class="addListStyle" style="width:100%;padding-bottom:20px;padding-top:20px;">	 	</div>
        <div id="divAddClabHidden" style="display:none;">
        <div style="position:relative; height:330px; margin-top: 20px;">

@using (Html.BeginForm("Add", "AddShootingClub",FormMethod.Post, new { id="addform"}))
    {
     
        <table style="margin:auto;">
            <tr>
                <td>Страна</td>
                <td>@Html.DropDownList("idCountry" , Model.Countries)</td>
            </tr>
            <tr>
                <td>Регион</td>
                <td id="tdRegion">@Html.DropDownList("idRegion" ,Model.Regions)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Name)</td>
                <td>@Html.TextBoxFor(x => x.Name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.IdShootingRange)</td>
                <td id="tdShootingRange">@Html.DropDownListFor(x => x.IdShootingRange, Model.ShootingRange)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Address)</td>
                <td>@Html.TextAreaFor(x => x.Address)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Phone)</td>
                <td>@Html.TextBoxFor(x => x.Phone)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.MainCoach)</td>
                <td>@Html.TextBoxFor(x => x.MainCoach)</td>
            </tr>
        </table>

        <input id="addBt" type="button" value="Добавить" />
    }
      </div>
            </div>
       </div>
    </div>

   <div id="divShowShow" class="instr" style="width:1000px;padding:0;">
     <div id="divShowClab" class="addListStyle" style="width:100%;padding-bottom:20px;padding-top:20px;">	 	</div>
        <div id="divShowClabHidden" style="display:none;">
        <div >

<div id="list" style="height:90%">
</div>
            </div>
            </div>
       </div>
