@{
    ViewBag.Title = "Стрелковые клубы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ShootServ.Models.ShootingClub.ShooterClubPageModel

<script type="text/javascript">

    $(document).ready(function() {

        $(document).on("change",
            "#idCountry",
            function() {
                ChangeCountry();
            });

        $(document).on("change",
            "#idRegion",
            function() {
                ChangeRegion();
            });

        // Клик на "Удалить"
        $(document).on("click",
            ".delClub",
            function() {
                if (isAuthorize) {
                    var a = $(this);
                    var idClub = a.attr("idClub");

                    $.ajax({
                        url: "@Url.Action("Delete")",
                        dataType: "json",
                        data: { idClub: idClub },
                        async: false,
                        success: function(data) {
                            if (data.IsOk == true) {
                                showInfo("Стрелковый клуб удален"); // showInfo
                                a.closest("tr").remove();
                            } else showError(data.Message); // сообщение об ошибке как -то показать на странице
                        },
                        error: function(data) {
                            showError("Ошибка ajax");
                        }
                    });
                } else {
                    var redirectUrl = "@Url.Action("Index", "ShootingClub")";
                    redirectToLoginPage(redirectUrl);
                }

            });

        $(document).on("click",
            "#addBt",
            function() {
                if (isAuthorize) {
                    if (ValidateInput()) {

                        $.ajax({
                            url: "@Url.Action("Add")",
                            dataType: "json",
                            data: $("form").serialize(),
                            async: false,
                            success: function(data) {
                                if (data.IsOk == true) {
                                    showInfo("Стрелковый клуб добавлен"); // showInfo

                                    var idRegion = $("#idRegion").val();
                                    var idCountry = $("#idCountry").val();

                                    GetShootingClubs(idCountry, idRegion);

                                } else showError(data.Message); // сообщение об ошибке как -то показать на странице
                            },
                            error: function(data) {
                                showError("Ошибка ajax");
                            }
                        });
                    }
                } else {
                    var redirectUrl = "@Url.Action("Index", "ShootingClub")";
                    redirectToLoginPage(redirectUrl);
                }

            });

        ChangeCountry();

    });

    function ChangeCountry() {
        var idCountry = $("#idCountry").val();
        GetRegionsByCountry(idCountry);
    }

    function ChangeRegion() {
        var idRegion = $("#idRegion").val();
        var idCountry = $("#idCountry").val();

        GetShootingClubs(idCountry, idRegion);
    }

    function ValidateInput() {
        var name = $("#Name").val();
        if (name == undefined || name == "") {
            showError("Не введено название тира");
            return false;
        }

        if ($("#IdShootingRange").val() == undefined) {
            showError("Не выбран тир");
            return false;
        }

        return true;
    }

    // Получить список стрелковых клубов в регионе
    function GetShootingClubs(idCountry, idRegion) {

        $.ajax({
            url: "@Url.Action("GetShootingClubsByRegion", "ShootingClub")",
            dataType: "html",
            type: "GET",
            async: false,
            data: {
                idCountry: idCountry,
                idRegion: idRegion
            },
            success: function(data) {
                $("#list").html(data);
            },
            error: function() {
                showError("Ошибка ajax");
            }
        });
    }

    //выпадающий контент
    $(document).ready(togetherContent("#divAddClab", "#divAddClabHidden", 'Добавить команду'));
    $(document).ready(togetherContent("#divShowClab", "#divShowClabHidden", 'Список команд'));

    $(document).ready(function() {
        AddSumbol($("#divAddClab"), true, 'Добавить команду');
    });

    $(document).ready(function() {
        AddSumbol($("#divShowClab"), true, 'Список команд');
    });
</script>

<h3>Добавление и просмотр стрелковых клубов</h3>

<div id="addDiv">

    <div id="divAddAdd" class="instr" style="width: 1000px; padding: 0;">

        <div id="divAddClab" class="addListStyle" style="width: 100%; padding-bottom: 20px; padding-top: 20px;"> </div>
        <div id="divAddClabHidden" style="display: none;">
            <div style="position: relative; height: 330px; margin-top: 20px;">

                @using (Html.BeginForm("Add", "ShootingClub", FormMethod.Post, new {id = "addform"}))
                {
                    <table style="margin: auto;">
                        <tr>
                            <td>Страна</td>
                            <td>@Html.DropDownList("idCountry", Model.Countries)</td>
                        </tr>
                        <tr>
                            <td>Регион</td>
                            <td id="tdRegion">@Html.DropDownList("idRegion", Model.Regions)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(x => x.SavingShooterClub.Name)</td>
                            <td>@Html.TextBoxFor(x => x.SavingShooterClub.Name)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(x => x.SavingShooterClub.IdShootingRange)</td>
                            <td id="tdShootingRange">@Html.DropDownListFor(x => x.SavingShooterClub.IdShootingRange, Model.ShootingRanges)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(x => x.SavingShooterClub.Address)</td>
                            <td>@Html.TextAreaFor(x => x.SavingShooterClub.Address)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(x => x.SavingShooterClub.Phone)</td>
                            <td>@Html.TextBoxFor(x => x.SavingShooterClub.Phone)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(x => x.SavingShooterClub.MainCoach)</td>
                            <td>@Html.TextBoxFor(x => x.SavingShooterClub.MainCoach)</td>
                        </tr>
                    </table>

                    <input id="addBt" type="button" value="Добавить"/>
                }
            </div>
        </div>
    </div>
</div>

<div id="divShowShow" class="instr" style="width: 1000px; padding: 0;">
    <div id="divShowClab" class="addListStyle" style="width: 100%; padding-bottom: 20px; padding-top: 20px;"> </div>
    <div id="divShowClabHidden" style="display: none;">
        <div >
            <div id="list" style="height: 90%">
            </div>
        </div>
    </div>
</div>