 @{
    ViewBag.Title = "Добавление тира";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ShootServ.Models.ShootingRange.ShootingRangeModelParams

<script src="~/Scripts/ShootServ/shootingRange.js"></script>

<h3>Создание тиров</h3>

<div id="divShootingRange">
    <div id="divDiv" class="instr">
        <div id="divAddShootingRange" class="addListStyle"></div>
        @using (Html.BeginForm("Add", "ShootingRange", FormMethod.Post, new { id = "addform" }))
        {
            <div class=" mt-4">
                
                    @Html.LabelFor(x => x.Name)
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
           
            </div>
            <div class="row mt-4">
                <div class="col-lg-6 col-xs-12">
                    @Html.LabelFor(x => x.CountryId)
                    @Html.DropDownListFor(x => x.CountryId, Model.Countries, new { @class = "form-control" })
                </div>
                <div class="col-lg-6 col-xs-12">
                    @Html.LabelFor(x => x.RegionId)
                    <div id="tdRegionId">@Html.DropDownListFor(x => x.RegionId, Model.Regions, new { @class = "form-control" })</div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-6 col-xs-12">
                    @Html.LabelFor(x => x.Town)
                    @Html.TextBoxFor(x => x.Town, new { @class = "form-control" })
                </div>
                <div class="col-lg-6 col-xs-12">
                    @Html.LabelFor(x => x.Phone)
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-6 col-xs-12">
                    @Html.LabelFor(x => x.Address)
                    @Html.TextAreaFor(x => x.Address, new { @class = "form-control", @rows = 5 })
                </div>
                <div class="col-lg-6 col-xs-12">
                    @Html.LabelFor(x => x.Info)
                    @Html.TextAreaFor(x => x.Info, new { @class = "form-control", @rows = 5 })
                    </div>
                </div>
                <input id="addBt" class="btn btn-lg btn-primary mx-auto mt-4" type="button" value="Добавить" />
                }
            </div>
        </div>


